<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Warehouse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Warehouse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1> Deliveries </h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Supplier Name</th>
            <th>Goods type</th>
            <th>Size</th>
            <th>Price</th>
            <th>Delivery Date</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="delivery: ${deliveries}">
            <td th:text="${delivery.supplierName}"></td>
            <td th:text="${delivery.goods}"></td>
            <td th:text="${delivery.size}"></td>
            <td th:text="${delivery.price}"></td>
            <td th:text="${delivery.deliveredAt}"></td>
            <td th:text="${delivery.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="row">
        <h1> Offers </h1>
    </div>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Firm Name</th>
            <th>Operator Name</th>
            <th>Goods type</th>
            <th>Size</th>
            <th>Price</th>
            <th>Delivery Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="listing: ${listings}">
            <td th:text="${listing.firmName}"></td>
            <td th:text="${listing.workedBy}"></td>
            <td th:text="${listing.goods}"></td>
            <td th:text="${listing.size}"></td>
            <td th:text="${listing.price}"></td>
            <td th:text="${listing.listedAt}"></td>
            <td th:text="${listing.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>