<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Warehouse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Warehouse</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <h1> References </h1>
    </div>
    <form th:action="@{'reference/check'}" method="post">
        <div class="form-group mb-3">
            <label class="form-label" for="types">Choose a type</label>
            <select class="form-control"
                    id="types"
                    name="type">
                <option value="Operator">Operator</option>
                <option value="Deliveries">Deliveries</option>
                <option value="Listings">Listings</option>
                <option value="Stock">Stock</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <label class="form-label" for="types">Choose a User</label>
            <select class="form-control"
                    id="user"
                    name="user"
                    >
                <option th:each="user: ${users}" th:text="${user.getEmail()}" th:value="${user.getEmail()}"></option>
            </select>
        </div>
        <div>
            <label for="date-from">From:</label>
            <input type="date" name="dateFrom" id="date-from"/>
            <label for="date-to">To:</label>
            <input type="date" name="dateTo" id="date-to"/>
        </div>
        <div>
            <button type="submit" class="button">Submit</button>
        </div>
    </form>
</div>
</body>
</html>